{% extends "Reviews/base.html" %}

{% block body_block %}

<div>
    <ul style="list-style-type:none">
        {% for a in page_obj %}
            <li>
                Course: <a href="{% url 'course_view' a.Course.Course_Code %}">{{ a.Course.Course_Code }}</a> <br /> {{ a.Upvotes }} Upvotes
                <p>
                    {{ a.Review|safe }}
                </p>
            </li>
        {% endfor %}
    </ul>
    {% if page_obj.has_previous %}<a href="{% url 'user_course_review_list' page_obj.previous_page_number %}">Previous</a> {% endif %} {% if page_obj.has_next %} <a href="{% url 'user_course_review_list' page_obj.next_page_number %}"> Next</a> {% endif %}
</div>

{% endblock %}